:host {
    width: 30%;
}

div.whoami {
    display: flex;
    flex-direction: column;
}

div.name-and-image {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    border-bottom: solid 1px #EFEEEE;
}

.no-border-bottom {
    border-bottom: 0 !important;
}

div.profile-name-container {
    display: flex;
    flex-direction: column;
    width: 260px;
}

div.profile-image img {
    margin: 5px;
}

div.profile-image {
    position: relative;
    padding: 15px;
    width: 200px;
}

img.profile-avatar {
    width: 160px;
    height: 160px;
}

div.profile-image-edit {
    /* Rectangle 3: */
    opacity: 0.59;
    background: #FFFFFF url("/assets/images/edit.png") center no-repeat;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

h1.profile-name {
    color: #13345F;
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 0;
}

div.whoami h1.profile-name.anon {
    margin-bottom: 19px;
}

.profile-updated-icon {
    position: relative;
    top: -1px;
    color: #13345F;
}

div.profile-location {
    margin: 14px 0;
    color: #13345F;
}

div.about-me {
}

div.about-me p {
    height: 60px;
    overflow: hidden;
}

h1.profile-name {
    font-size: 19px;
    font-weight: bold;
}

.profile-updated {
    color: #687d94;
    font-size: 13px;
}

.about-me h2 {
    margin: 12px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
    color: #13345F;
}

.about-me a {
    cursor: pointer;
}

.profile-image img {
    max-width: 161px;
}

.profile-updated-eye {
}

.contact-button {
    font-weight: bold;
    border: none;
    width: 162px;
    font-size: 16px;
    background: #3afbcf;
    color: #13345f;
    border-radius: 5px;
    padding: 10px 0;
    margin: 20px 0 0 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.contact-button:hover {
    text-decoration: none;
}

:host .pointer {
    cursor: pointer;
}