
<input [(ngModel)]="searchTerm"
       [typeahead]="matchingLocations"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       typeaheadOptionsLimit="7"
       [typeaheadWaitMs]="500"
       typeaheadOptionField="name"
       placeholder="Type city name here"
       class="form-control">
<div *ngIf="typeaheadLoading===true">
	<i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
</div>
<div *ngIf="typeaheadNoResults===true" class="" style="">
	<i class="glyphicon glyphicon-remove"></i> No Results Found
</div>
<div class="tip-text">In which cities/countries would you like to work?</div>
<ul>
	<li>
		<div class="color-oval fnd_color_1"></div>
		<span class="">{{ selectedLocations?.city_name }}</span>
		<span class="">{{ selectedLocations?.state_short_name }}</span>
		<span class="">{{ selectedLocations?.country_short_name_alpha_2 }}</span>
		<i class="glyphicon glyphicon-remove" (click)="onDelete(1)"></i>
		<div class="fld-vertical-divider"></div>
	</li>
</ul>
