<div class="chart-placeholder chart-loading" *ngIf="!!requesting">
    <app-spinning-loader [showLoader]="requesting"></app-spinning-loader>
    Loading Chart...
</div>

<div class="chart-wrap" *ngIf="!requesting && !!experienceItems.length">
    <div *ngIf="experienceItems?.length > 0" (click)="showAdditionalInfo = !showAdditionalInfo" class="toggle-additional-info">
        <span class="chart-info-eye" [class.hideInfo]="!showAdditionalInfo" ></span> 
        {{ (showAdditionalInfo) ? 'Hide' : 'Show' }} Additional Info
    </div>

    <app-chart *ngIf="experienceItems?.length > 0"
        [items]="experienceItems"
        [groups]="experienceGroups"
        [template]="experienceTemplate"
        [direction]="'rtl'"
        [showAdditionalInfo]="showAdditionalInfo"
        [options]="experienceOptions"
        ></app-chart>
</div>