.block-inline{
    display: inline-block;
}
form .checkbox label{
    padding-left:30px;
}
.terms-padding{
    padding-left:30px;
}

.error{
    color:#50E3C2;
    display: block;
    text-align: left;
    height: 0;
}
.border-radius{
    border:1px solid #50E3C2;
    padding:2px;
    border-radius: 2px;
}
.load-page{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    opacity: 0.8;
}

.loading-icon {
    margin:0 auto;
    opacity: 1;
    position: absolute;
    right: 3%;
    top: 13%;
    font-size: 300%; 
    color:#50E3C2;
}

.loading-icon:before {
    color: #13345F;
}


.email-padding-top{
    padding-top: 10px;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

form button[type="submit"].fnd-btn-large {
    position: relative;
}

p.errors {
    color: #39FBCF;
    font-size: 22px;
    margin: 20px 0 0 0;
}

:host .form-group {
    padding-bottom: 30px;
}

.login {
    margin-top: 50px;
}

:host h1 {
    margin-top: 40px !important;
}
