<div *ngIf="currentUser?.status == authPending" class="container-fluid n-p-r unverified-stripe-container">
    <div class="row full-width n-m unverified-stripe">
        <i class="glyphicon glyphicon-info-sign"></i> You have not confirmed your email address, <a href="#" (click)="openConfirmDialog($event)">click here to confirm</a>
    </div>
</div>
<header class="container-fluid n-p-r">
    <div class="row full-width n-m">
        <div class="col-md-2">
            <app-logo-main size="medium"></app-logo-main>
        </div>
        <div class="col-md-10 n-p-r n-p-l">
            <app-menu-main role="{{ role }}"></app-menu-main>
            <app-share-section (openUploadResume)="openUploadResume()" (onShareResume)="openConfirmDialog($event)" id="appShareSection" *ngIf="role=='applicant'"></app-share-section>
            <app-user-main></app-user-main>
        </div>
    </div>
</header>
<div id='div-gpt-ad-1546199565287-0' style='height:90px; width:100%;text-align:center;margin-top:30px;margin-bottom:30px;'>
</div>
<article>

    <div *ngFor="let tourStep of tourStepsList" id="{{ tourStep.id }}_popup" class="well {{ tourArrowClass }}">
        {{ tourStep.congratesMessage }} <br>
        {{ tourStep.currentTask }} <br><br>
        <input type="button" id="{{ tourStep.id }}_popup_close" *ngIf="!steps[tourStep.id].hideNext" class="btn {{ tourStep.id }}_popup_close" (click)="initTourSection($event)" value="{{ tourLabel }}">
        <input type="button" id="{{ tourStep.id }}_popup_never" class="btn {{ tourStep.id }}_popup_close" (click)="neverTourAgain($event)" value="{{ tourEndLabel }}">
    </div>

    <div id="finish_popup" class="well {{ tourArrowClass }}">
        Congratulations!<br>
        Your resume is now complete. <br>
        We wish you the best of luck finding a job. <br><br>
        Start using your resume now by clicking "Share Resume" on top right hand side <br><br>
        <input type="button" id="finish_popup_close" *ngIf="!steps.finish.hideNext" class="btn finish_popup_close" (click)="initTourSection($event)" value="{{tourLabel}}">
        <input type="button" id="finish_popup_never" class="btn finish_popup_close" (click)="neverTourAgain($event)" value="{{tourEndLabel}}">
    </div>
	<app-stats-section [userId]="userId"></app-stats-section>
	<app-details-section [userId]="userId"></app-details-section>
	<app-charts-section [userId]="userId"></app-charts-section>

    <modal #activationModal title="Confirm Address"
           cancelButtonLabel="cancel"
           submitButtonLabel="submit"
           modalClass="modal-lg modal-sm fnd-confirm-modal"
           [hideCloseButton]="false"
           [closeOnEscape]="true"
           [closeOnOutsideClick]="true"
           (onOpen)="actionOnOpen()"
           (onClose)="actionOnClose()"
           (onSubmit)="actionOnSubmit()">

        <modal-header></modal-header>

        <modal-content>
            <app-confirm-modal (confirmSent)="modal.close()"></app-confirm-modal>
        </modal-content>

        <modal-footer></modal-footer>

    </modal>

    <modal #upload_resume
        title="Upload Resume"
        cancelButtonLabel="cancel"
        modalClass="modal-lg modal-sm fnd-confirm-modal"
        [hideCloseButton]="false"
        [closeOnEscape]="true"
        [closeOnOutsideClick]="true"
        (onOpen)="openUploadResumeModal()"
        (onClose)="closeUploadResumeModal()">

        <modal-content>
            <div>
            <modal-header>
                <h2 class="upload-resume-header">
                Upload to <span style="color: #31517A;">Findable</span>
                </h2>
            </modal-header>
            
            <div class="upload-resume-wrapper">
                <p>
                supported files: doc, docx, pdf
                </p>
                <button class="upload-button" (click)="openFileInput(upload_resume_input)">
                    <div class="upload-resume-main-btn">
                        <i *ngIf="!uploadingResume" class="glyphicon glyphicon-arrow-up"></i>
                        <i *ngIf="uploadingResume" class="glyphicon glyphicon-spinner glyphicon-refresh"></i>
                        {{ resume_status }}
                    </div>
                    <form>
                        <input #upload_resume_input id="upload_resume" [multiple]="false" name="file" type="file" (change)="onSelect($event)">
                    </form>
                </button>
                <button
                    (click)="closeUploadResumeModal()"
                    class="upload-resume-decline-btn"
                    >
                    I don't want to upload
                </button>    
            </div>
                
            </div>
        </modal-content>
    </modal>

</article>
