.location-input {
    width: 100%;
}

:host >>> p-autocomplete input {
    width: 100%;
}

:host >>> p-autocomplete {
    width: 100%;
    display: block;
}

:host >>> span.ui-autocomplete {
    display: block;
}

.error {
    color: red;
}

.responsibilities-input { 
    position: relative;
}

app-input-loader {
    position: absolute;
    top: 51px;
    right: 0;
}