:host {
    display: block;
    clear: both;
}

:host >>> span.irs-bar {
    background: #3afbcf;
}

:host >>> span.irs-slider.from, :host >>> span.irs-slider.to {
    background: #13345f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

:host >>> .irs-from, :host >>> .irs-to, :host >>> .irs-single {
    background: #13345f;
}

:host >>> .irs-from:after, :host >>> .irs-to:after, :host >>> .irs-single:after {border-top-color: #13345f;}

select.form-control {
    font-size: 14px;
    padding: 0;
}