<header class="container-fluid n-p-r n-p-l">
  <div class="row full-width n-m">
    <div class="col-md-2">
      <app-logo-main size="medium"></app-logo-main>
    </div>
    <div class="col-md-7 n-p-r n-p-l">
      <app-menu-main [role]="role"></app-menu-main>
    </div>
    <div class="col-md-3">
      <div class="col-md-5">
        <account-number></account-number>
      </div>
      <div class="col-md-7">
        <app-user-main></app-user-main>
      </div>
    </div>
  </div>
</header>

<!-- Start Left side search -->
<div
  id="div-gpt-ad-1546199654905-0"
  style="width: 100%; margin-bottom: 30px; text-align: center"
></div>

<div class="col-md-2 search-wrap no-print">
  <div class="search-side-component col-md-12">
    <button
      type="button"
      class="refresh border-radius-5 col-md-12"
      (click)="handleResetButton()"
      [disabled]="loadingResults"
    >
      <i *ngIf="resettingSearch" class="glyphicon glyphicon-refresh"></i>
      <span *ngIf="!resettingSearch">Reset Filters</span>
    </button>
  </div>

  <form
    autocomplete="off"
    spellcheck="false"
    (submit)="onSubmit($event)"
    novalidate
  >
    <div class="search-side-component">
      <h5>Job Title</h5>

      <div class="tags-wrap component-wrap">
        <img
          class="input-icon case-icon"
          src="../../../../assets/images/case.png"
        />
        <app-job-title
          #jobTitleComponent
          [tags]="selectedJobTitles"
          [query]="jobTitleQuery"
          (onSelected)="onJobTitleChange($event)"
          (onRemove)="onJobTitleRemove($event)"
          (onBlur)="onJobTitleUpdate($event)"
        ></app-job-title>
      </div>
    </div>

    <div class="search-side-component no-bottom-margin">
      <h5>Location</h5>
      <!-- LOCATION -->

      <div class="location-wrap component-wrap">
        <img
          class="input-icon location-icon"
          src="../../../../assets/images/search-location-icon.png"
        />
        <app-location
          [location]="searchModel.location"
          (onSelected)="onLocationSelected($event)"
        ></app-location>
      </div>
    </div>

    <div class="search-side-component no-bottom-margin">
      <h5>Company Name</h5>
      <!-- COMPANY NAME -->

      <div class="company-name-wrap component-wrap">
        <img
          class="input-icon location-icon"
          src="../../../../assets/images/search-company-icon.jpg"
        />
        <app-company-name
          [company]="company"
          (onSelected)="onCompanyNameSelected($event)"
          (onBlur)="onCompanyNameChange($event)"
        ></app-company-name>
      </div>
    </div>

    <div class="search-btn col-md-2">
      <button
        (click)="performSearch(true)"
        class="form-control"
        [disabled]="loadingResults"
      >
        <i
          class="glyphicon glyphicon-search"
          [ngStyle]="{ opacity: loadingResults ? 0 : 1 }"
        ></i>
        <app-spinning-loader
          [showLoader]="loadingResults"
        ></app-spinning-loader>
        Search
      </button>
    </div>
  </form>
</div>
<!-- Start Left side search -->

<div class="col-md-10">
  <button
    type="button"
    class="btn btn-default add-partner"
    (click)="openPartnerModel(false)"
  >
    Add Partner
  </button>

  <span class="total" *ngIf="total">
    Found {{ total }} partner | Showing results {{ offset + 1 }}-{{
      offset + currentResultsCount
    }}
  </span>

  <div class="partner-table-wrap">
    <app-spinning-loader [showLoader]="loadingResults"></app-spinning-loader>
    <p-dataTable
      #table
      [rows]="50"
      [lazy]="true"
      [pageLinks]="5"
      [autoload]="false"
      [rowHover]="false"
      [totalRecords]="total"
      paginatorPosition="bottom"
      [expandableRows]="true"
      selectionMode="multiple"
      [value]="results.result"
      [rowStyleClass]="getRowClass"
      tableStyleClass="partner-table"
      (onLazyLoad)="loadData($event)"
      (onRowClick)="onRowClick($event)"
      [(selection)]="selectedPartners"
      [paginator]="
        !!results.hasOwnProperty('result') && !!results.total
      "
    >
      <!-- <p-column [style]="{ width: '25px' }" selectionMode="multiple"></p-column> -->
      <p-column header="Name">
        <template let-partner="rowData" pTemplate="body">
          {{ partner.name }}
        </template>
      </p-column>

      <p-column header="Number">
        <template let-partner="rowData" pTemplate="body">
          {{ partner.mobile_numbar }}
        </template>
      </p-column>

      <p-column header="Email">
        <template let-partner="rowData" pTemplate="body">
          {{ partner.email }}
        </template>
      </p-column>

      <p-column field="city_name" header="Location">
        <template let-partner="rowData" pTemplate="header">
          <span
            class="ui-column-title pointer"
            [class.active]="orderby == 'city_name'"
            (click)="onSortTypeSelected('city_name')"
          >
            Location
          </span>
          <div class="column-header-arrows" [hidden]="orderby !== 'city_name'">
            <div
              class="column-header-arrow column-header-arrow-up"
              (click)="onOrderTypeSelected('asc')"
              [class.active]="order == 'asc' && orderby == 'city_name'"
            >
              <i class="glyphicon glyphicon-triangle-top"></i>
            </div>
            <div
              class="column-header-arrow column-header-arrow-down"
              (click)="onOrderTypeSelected('desc')"
              [class.active]="order == 'desc' && orderby == 'city_name'"
            >
              <i class="glyphicon glyphicon-triangle-bottom"></i>
            </div>
          </div>
        </template>
      </p-column>

      <p-column header="Company">
        <template let-partner="rowData" pTemplate="body">
          {{ partner.company }}
        </template>
      </p-column>

      <p-column field="job_title" header="Job Title">
        <template let-partner="rowData" pTemplate="header">
          <span
            class="ui-column-title pointer"
            [class.active]="orderby == 'job_title'"
            (click)="onSortTypeSelected('job_title')"
          >
            Title
          </span>
          <div class="column-header-arrows" [hidden]="orderby !== 'job_title'">
            <div
              class="column-header-arrow column-header-arrow-up"
              [class.active]="order == 'asc' && orderby == 'job_title'"
              (click)="onOrderTypeSelected('asc')"
            >
              <i class="glyphicon glyphicon-triangle-top"></i>
            </div>
            <div
              class="column-header-arrow column-header-arrow-down"
              [class.active]="order == 'desc' && orderby == 'job_title'"
              (click)="onOrderTypeSelected('desc')"
            >
              <i class="glyphicon glyphicon-triangle-bottom"></i>
            </div>
          </div>
        </template>
      </p-column>

      <p-column header="Tags">
        <template let-partner="rowData" pTemplate="body">
          {{ partner.tags }}
        </template>
      </p-column>

      <template let-partner pTemplate="rowexpansion">
        <app-partner-search-result
        [partnerDetail]="partner"
        ></app-partner-search-result>
      </template>

      <p-column header="Edit" [style]="{ width: '25px' }">
        <template let-partner="rowData" pTemplate="body">
          <span
            class="glyphicon glyphicon-edit"
            (click)="openPartnerModel(true,partner)"
            style="padding: 40%"
          ></span>
        </template>
      </p-column>
      <p-footerColumnGroup>
        <p-row>
          <p-column styleClass="footer-text-column" colspan="9">
            <template pTemplate="footer">
              <div class="table-user-status">
                Showing:
                <span class="bold">{{ currentResultsCount }} partners</span> |
              </div>
            </template>
          </p-column>
        </p-row>
      </p-footerColumnGroup>
    </p-dataTable>
  </div>

  <!-- <div class="search-welcome" *ngIf="firstVisit" #welcome>
    <div class="inner-wrap">
      Welcome to
      <br />
      <img src="../../../assets/images/logo.png" />
      <br />

      <button class="form-control" (click)="closeWelcomeScreen()">
        <i class="glyphicon glyphicon-arrow-right"></i>
        Start Contacting partners
      </button>
    </div>
  </div> -->
</div>
<modal
  #partnerModal
  title="Add / Edit Partner"
  cancelButtonLabel="cancel"
  submitButtonLabel="submit"
  modalClass="modal-lg modal-sm fnd-pref-modal modalCustomize"
  [hideCloseButton]="false"
  [closeOnEscape]="true"
  [closeOnOutsideClick]="true"
  (onOpen)="actionOnOpen()"
  (onClose)="actionOnClose()"
  (onSubmit)="actionOnSubmit()"
>
  <modal-header></modal-header>

  <modal-content>
    <app-partner-form
      #partnerModalForm
      [isEdit]="isEdit"
      (onSuccessfulUpdate)="closeStatusModal($event)"
    ></app-partner-form>
  </modal-content>

  <modal-footer></modal-footer>
</modal>
