/* A list of findable content colors used by index */
:host >>> .fnd_color_0:before{background:#F54337;}
:host >>> .fnd_color_1:before{background:#E81E62;}
:host >>> .fnd_color_2:before{background:#9C28B1;}
:host >>> .fnd_color_3:before{background:#673BB8;}
:host >>> .fnd_color_4:before{background:#3F51B5;}
:host >>> .fnd_color_5:before{background:#2296F3;}
:host >>> .fnd_color_6:before{background:#01BAD4;}
:host >>> .fnd_color_7:before{background:#019688;}
:host >>> .fnd_color_8:before{background:#4CB050;}
:host >>> .fnd_color_9:before{background:#8BC24A;}
:host >>> .fnd_color_10:before{background:#CDDC39;}
:host >>> .fnd_color_11:before{background:#FDC107;}
:host >>> .fnd_color_12:before{background:#330000;}
:host >>> .fnd_color_13:before{background:#0e79cb;}
:host >>> .fnd_color_14:before{background:#999966;}
:host >>> .fnd_color_15:before{background:#FF9999;}
:host >>> .fnd_color_16:before{background:#F54337;}
:host >>> .fnd_color_17:before{background:#E81E62;}
:host >>> .fnd_color_18:before{background:#9C28B1;}
:host >>> .fnd_color_19:before{background:#673BB8;}
:host >>> .fnd_color_20:before{background:#3F51B5;}
:host >>> .fnd_color_21:before{background:#2296F3;}
:host >>> .fnd_color_22:before{background:#01BAD4;}
:host >>> .fnd_color_23:before{background:#019688;}
:host >>> .fnd_color_24:before{background:#4CB050;}
:host >>> .fnd_color_25:before{background:#8BC24A;}
:host >>> .fnd_color_26:before{background:#CDDC39;}
:host >>> .fnd_color_27:before{background:#FDC107;}
:host >>> .fnd_color_28:before{background:#330000;}
:host >>> .fnd_color_29:before{background:#0e79cb;}
:host >>> .fnd_color_30:before{background:#999966;}
:host >>> .fnd_color_31:before{background:#FF9999;}

:host >>> div.fnd_color_0 {
  background-color: #F54337;
}

:host >>> div.fnd_color_1 {
  background-color: #E81E62;
}

:host >>> div.fnd_color_2 {
  background-color: #9C28B1;
}

:host >>> div.fnd_color_3 {
  background-color: #673BB8;
}

:host >>> div.fnd_color_4 {
  background-color: #3F51B5;
}

:host >>> div.fnd_color_5 {
  background-color: #2296F3;
}

:host >>> div.fnd_color_6 {
  background-color: #01BAD4;
}

:host >>> div.fnd_color_7 {
  background-color: #019688;
}

:host >>> div.fnd_color_8 {
  background-color: #4CB050;
}

:host >>> div.fnd_color_9 {
  background-color: #8BC24A;
}

:host >>> div.fnd_color_10 {
  background-color: #CDDC39;
}

:host >>> div.fnd_color_11 {
  background-color: #FDC107;
}

:host >>> div.fnd_color_12 {
    background-color: #330000;
}

:host >>> div.fnd_color_13 {
    background-color: #0e79cb;
}

:host >>> div.fnd_color_14 {
    background-color: #999966;
}

:host >>> div.fnd_color_15 {
    background-color: #FF9999;
}


:host >>> div.fnd_color_16 {
    background-color: #F54337;
}

:host >>> div.fnd_color_17 {
    background-color: #E81E62;
}

:host >>> div.fnd_color_18 {
    background-color: #9C28B1;
}

:host >>> div.fnd_color_19 {
    background-color: #673BB8;
}

:host >>> div.fnd_color_20 {
    background-color: #3F51B5;
}

:host >>> div.fnd_color_21 {
    background-color: #2296F3;
}

:host >>> div.fnd_color_22 {
    background-color: #01BAD4;
}

:host >>> div.fnd_color_23 {
    background-color: #019688;
}

:host >>> div.fnd_color_24 {
    background-color: #4CB050;
}

:host >>> div.fnd_color_25 {
    background-color: #8BC24A;
}

:host >>> div.fnd_color_26 {
    background-color: #CDDC39;
}

:host >>> div.fnd_color_27 {
    background-color: #FDC107;
}

:host >>> div.fnd_color_28 {
    background-color: #330000;
}

:host >>> div.fnd_color_29 {
    background-color: #0e79cb;
}

:host >>> div.fnd_color_30 {
    background-color: #999966;
}

:host >>> div.fnd_color_31 {
    background-color: #FF9999;
}