:host {
    min-width: 304px;
}
.large {
    height: 63px;
}
.medium {
    width: 70%;
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.small {
    height: 23px;
}
.logo-wrapper {
    display: block;
    height: 70px;
    line-height: 70px;
    position: relative;
}
