<!-- <div class="purchase-applicant-wrap">
    <app-spinning-loader [showLoader]=""></app-spinning-loader>
    <div class="inner-wrap">
        <h3>Confirm Use of Credit</h3>

        
        <h4 *ngIf="remainingCredits === null">
            Loading Credit Data...
        </h4>
        
        <div *ngIf="remainingCredits > 0">
            <h4 *ngIf="applicants.length">You will be charged for <span>{{ applicants.length * applicantCost }} credit{{ ((applicants.length * applicantCost) > 1) ? 's' : '' }}</span></h4>
            <p>You have {{ remainingCredits }} credit(s) remaining</p>
            <p>Once you confirm the purchase of this contact, they will automatically be added to My Candidates list</p>
        </div>
        
        <div *ngIf="remainingCredits === 0">
            <h4>Insufficient credits</h4>
            <p>Unfortunately, you have run out of credits.</p>
            <p>Please add a credit package to your account and try again.</p>
        </div>

        <div class="buttons-wrap">
            <button class="form-control" (click)="cancel($event)">
                <i class="glyphicon glyphicon-remove-circle"></i>
                Cancel
            </button>

            <button *ngIf="remainingCredits > 0" class="form-control" (click)="confirmseb($event)" [disabled]="submitting">
                <i class="glyphicon glyphicon-ok-circle"></i>
                Confirm
            </button>

            <button *ngIf="remainingCredits === 0" class="form-control" (click)="addPackageRedirect()" [disabled]="submitting">
                <i class="glyphicon glyphicon-ok-circle"></i>
                Add Package
            </button>
        </div>
    </div>
</div> -->
<modal #cnfmodel [title]="model_heading"
       cancelButtonLabel=""
       submitButtonLabel=""
       modalClass="fnd-contact-modal custom-model"
       [hideCloseButton]="false"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       (onOpen)="actionOnOpen()"
       (onClose)="actionOnClose()"
       (onSubmit)="actionOnSubmit()"
       >

    <modal-header></modal-header>

    <modal-content>
    <div class="popup popup-lg">
    <app-spinning-loader [showLoader]="isSubmitting"></app-spinning-loader>
    
    <div class="row1" id="contact_applicant_form_popup">
        <form [formGroup]="contactApplicantForm" (submit)="onSubmit($event)" class="form-wrapper" spellcheck="false" autocomplete="off" novalidate>
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <label  for="fullname">Please confirm you’re</label>
                    <input class="form-control" type="text" id="fullname" formControlName="fullname" value="{{ fullname }}" placeholder="Full name (Required)">
                    <p class="error">{{ controls.messages.fullname }}</p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="company">From</label>
                        <input class="form-control" type="text" id="company" formControlName="company" value="{{ businessName }}" placeholder="Company (Required)">
                        <p class="error">{{ controls.messages.company }}</p>
                    </div>
                </div>
            </div>
             <div class="form-group">
                        <label  for="recruiting_for">Recruiting for (Which Company)</label>
                        <input class="form-control" type="text" id="recruiting_for" formControlName="recruiting_for" value="" placeholder="Recruiting for">
            </div>
            <div class="form-group">
                <label  for="message">We will verify availability and candidate and interest. 
                If you have any screening questions please state them.</label>
                <textarea class="form-control" id="message" name="message" formControlName="message" maxlength="150" placeholder=""></textarea>
                <p class="error">{{ controls.messages.message }}</p>
            </div>
             <div class="form-group">
                <input type="checkbox" id="exclusive_contact" name="exclusive_contact" formControlName="exclusive_contact">
                <label  for="exclusive_contact">Do you have an exclusive contract for the position you’re trying to fill?</label>
                <p class="error">{{ controls.messages.exclusive_contact }}</p>
            </div>
            <div class="form-group fnd-form-submit-container button-custom-done">
                <button type="submit" class="btn btn-success">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>

    </modal-content>

    <modal-footer></modal-footer>

</modal>