<div class="subscription-container">
    <h3 *ngIf="modeStatus === 'create'">Fill in your credit card Information</h3>
    <h4>We Accept: <img src="/assets/images/credit-cards-logos.png"></h4>
    <form [formGroup]="subscriptionForm" novalidate autocomplete="false">
        <div class="col-md-12">
            <h5>Credit Card</h5>
            <div class="spacer">&nbsp;</div>

            <div class="form-group col-md-12 payment-section">
                <label for="card-element{{modeltype}}" class="fnd-req">Current Credit Card Number</label>
                <div id="card-element{{modeltype}}" class="form-control-container"></div>
                <p class="error" id="card-errors{{modeltype}}" role="alert">{{ controls.messages.number }}</p>
            </div>

            <div class="form-set">
                <div class="form-group col-md-6">
                    <label for="cardExpiry-element{{modeltype}}" class="fnd-req">Exp Date</label>
                    <div id="cardExpiry-element{{modeltype}}" class="form-control-container"></div>
                    <p class="error" id="cardExpiry-errors{{modeltype}}" role="alert">{{ controls.messages.exp_datex }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="cardCvc-element{{modeltype}}" class="fnd-req">CVC Code</label>
                    <div id="cardCvc-element{{modeltype}}" class="form-control-container"></div>
                    <p class="error" id="cardCvc-errors{{modeltype}}" role="alert">{{ controls.messages.cvv }}</p>

                </div>
            </div>

            <div class="form-group col-md-12 payment-section">
                <label class="fnd-req">Card Holder Name</label>
                <input maxlength="16" (blur)="validate('name')" name="name" formControlName="name" maxlength="150" type="text" class="form-control">
                <p class="error">{{ controls.messages.name }}</p>
            </div>
            <h5>Billing Information</h5>
            <div class="spacer">
                <div class="form-group checkbox">
                    <label>
                        <input #userLocation type="checkbox" value='true' (change)="checkV($event)" checked>
                        <span tabindex="0" (keyup)="checkV($event)" class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        Same As My Information
                    </label>
                </div>
            </div>

            <div *ngIf="!cloneUserDetails">
                <!-- ALL THE REST OF THE FORM -->
                <div class="form-group col-md-12 payment-section">
                    <label class="fnd-req">Full Name</label>
                    <input maxlength="16" (blur)="validate('fullname')" name="fullname" formControlName="fullname" maxlength="150" type="text" class="form-control">
                    <p class="error">{{ controls.messages.fullname }}</p>
                </div>
    
                <div class="form-group col-md-12 payment-section">
                    <label class="fnd-req">Address Line 1</label>
                    <input maxlength="16" (blur)="validate('address_line1')" name="address_line1" formControlName="address_line1" maxlength="150" type="text" class="form-control">
                    <p class="error">{{ controls.messages.address_line1 }}</p>
                </div>
    
                <div class="form-group col-md-12 payment-section">
                    <label class="fnd-req">Address Line 2</label>
                    <input maxlength="16" (blur)="validate('address_line2')" name="address_line2" formControlName="address_line2" maxlength="150" type="text" class="form-control">
                    <p class="error">{{ controls.messages.address_line2 }}</p>
                </div>
    
               <!--  <div class="form-group col-md-12 payment-section">
                    <label for="city">Location</label>
                    <input id="city" formControlName="location" class="form-control" placeholder="Enter company address" type="text" autocomplete="false">
                    <p class="error">{{ controls.messages.location }}</p>
                </div> -->
    
                <div class="form-group col-md-12 payment-section">
                    <label>Zip Code</label>
                    <input maxlength="16" (blur)="validate('address_zip')" name="address_zip" formControlName="address_zip" maxlength="12" type="text" class="form-control">
                    <p class="error">{{ controls.messages.address_zip }}</p>
                </div>
            </div>
            <div>
                    <button *ngIf="modeStatus === 'create'" (click)="onSubmit($event)" [disabled]="submitting || !valid" type="submit" class="payment-details-submit btn fnd-btn-primary col-md-12">
                        <img *ngIf="submitting" [class.glyphicon-refresh-animate]="submitting" src="../../../../assets/images/reload-icon.png">
                        <i *ngIf="!submitting" class="glyphicon glyphicon glyphicon-ok"></i>
                        Done
                    </button>
    
                    <p class="error">{{ controls.messages.global }}</p>
                </div>
        </div>

    </form>
</div>
