:host {
    min-width: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

:host ul {
    list-style-type: none;
    padding-left: 26px;
}

:host ul li {
     line-height: 3em;
 }

:host ul li .contact-item-icon {
    margin-right: 17px;
}

:host ul li .contact-item-value {
    margin-right: 12px;
}

:host ul li .contact-item-value a {
    color: #003164
}

:host ul li img {
    padding: 0 13px 0 0;
}

:host .edit-link {
    display: table;
}