<div class="container container-aligner container-limiter">

    <h3>Please fill in your Company Information</h3>

    <form [formGroup]="companyFormGroup" novalidate autocomplete="off">
        <div class="row flex">
            <div class="col-md-8">

                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="name" class="fnd-req">Company Name</label>
                        <input id="name" maxlength="150" (blur)="validate('name')" name="name" formControlName="name"
                               type="text" class="form-control">
                        <p class="error">{{ controls.messages.name }}</p>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Industry</label>
                        <p-autoComplete
                            #industrySelector
                            [(ngModel)]='businessModel.industry.name'
                            (completeMethod)='searchIndustry($event)'
                            (updateModel)='setState("industry", $event)'
                            (onSelect)='onSelectIndustry($event)'
                            [suggestions]='industries'
                            formControlName='industry'
                            [maxlength]=150
                            placeholder=''
                            [minLength]=1
                            dataKey='id'
                            [delay]=500
                            dataKey='id'
                            field='name'
                        ></p-autoComplete>
                        <app-input-loader [loading]="requestingIndustry"></app-input-loader>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="yearTo" class="fnd-req">Year Established</label>
                        <year-picker
                            #yearTo id="yearTo"
                            class="left clear-padding-left"
                            (year)="setEstablished($event)"
                            selectClass="select-list-dropdown form-control"
                            [data]="businessModel.year_established != null ? businessModel.year_established.toString() : ''"
                        ></year-picker>
                        <p class="error">{{ controls.messages.established }}</p>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="duns">D-U-N-S Number</label>
                        <input maxlength="150" id="duns" name="duns" formControlName="duns" type="text"
                               class="form-control">
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="size">Company Size</label>
                        <select id="size" class="form-control" formControlName="size"
                                (change)="setModel('size', $event.target.value)">
                            <option disabled [selected]="!businessModel.size">Choose</option>
                            <option *ngFor="let size of companySizes; let i = index" [value]="size.value"
                                    [selected]="businessModel.size == size.value">{{ size.text }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="type">Company Type</label>
                        <select id="type" class="form-control" formControlName="type"
                                (change)="setModel('type', $event.target.value)">
                            <option *ngFor="let _type of companyTypes" [attr.value]="_type.id"
                                    [selected]="_type.id === businessModel.type">{{_type.name}}
                            </option>
                        </select>
                        <p class="error"></p>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="city">Company Location</label>
                        <input id="city" class="form-control" placeholder="Enter company location" formControlName="location" type="text" autocomplete="false">
                        <p class="error">{{ controls.messages.location }}</p>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="fnd-req">Your Company Web Address</label>
                        <input maxlength="150" name="web" (blur)="validate('web')" formControlName="web"
                               (keyup)="checkSiteText()" type="text" class="form-control">
                        <p class="error">{{ controls.messages.web }}</p>
                    </div>

                </div>

            </div>

            <div class="form-group col-md-4">
                <label>Company logo</label>
                <div class="image-upload-wrap">
                    <div class="form-group">
                        <div class="image-upload-pic-wrap">
                            <div class="my-drop-zone image-upload-top">
                                <p-fileUpload
                                        #file
                                        name="file"
                                        url="{{UPLOAD_PATH}}"
                                        (onBeforeSend)="onBeforeSend($event)"
                                        (onUpload)="onUpload($event)"
                                        (onClear)="onClear()"
                                        (onError)="uploadError($event)"
                                        (onSelect)="onSelect($event, file)"
                                        styleClass="personal-details-file-upload"
                                        uploadLabel="Upload"
                                        chooseLabel="Choose"
                                        cancelLabel="Cancel"
                                        accept="image/*" maxFileSize="10000000"
                                >
                                    <template pTemplate="content">
                                        <img #profileImage id="personal-details-profile-image"
                                             src="{{ profileImagePath }}">
                                    </template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </div>

                <button *ngIf="mode === 'create'" (click)="onSubmit($event)"
                        [disabled]="submitting || !companyFormGroup.valid || businessModel.location.city_name === null"
                        type="submit" class="company-information-submit btn fnd-btn-primary col-md-12">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                    Next
                </button>

                <button *ngIf="mode === 'update'" (click)="onSubmit($event)"
                        [disabled]="submitting || !companyFormGroup.valid || businessModel.location.city_name === null"
                        type="submit" class="company-information-submit btn fnd-btn-primary col-md-12">
                    <img [class.glyphicon-refresh-animate]="submitting" src="../../../../assets/images/reload-icon.png">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>