


        
            <!-- <input type="button" ngControl="print" class="print_btn pull-right" value="" (click)="print_profile($event)"> -->
            <div class="sharing_method_div">
            <input type="button" ngControl="share" class="sharing_method_btn" value="Share Resume" (click)="shareResumeAction($event)" *ngIf="userid>0">
            <input type="button" ngControl="share" class="sharing_method_btn" value="Share Resume" (click)="copyLink()" *ngIf="userid==0">
            </div>
            <div class="sharing_method_div">
            <input type="button" ngControl="pdf" class="pdf_btn" value="" (click)="pdf_profile($event)">
            </div>
           <!--  <input type="button" class="browse_method_btn pull-right" value="Upload" (click)="openUploadResumeMethod()"> -->


        <modal #shareModal title="Share Resume"
            cancelButtonLabel="cancel"
            submitButtonLabel="submit"
            modalClass="modal-lg floated fnd-pref-modal"
            [hideCloseButton]="false"
            [closeOnEscape]="true"
            [closeOnOutsideClick]="true"
            (onOpen)="onOpenShare()"
            (onClose)="onCloseShare()">

            <modal-header></modal-header>

            <modal-content>
                <app-sharing-modal (openpaymentModel)="openpaymentModel()" [blockingInfoMode]="blockingInfoMode"></app-sharing-modal>
            </modal-content>

            <modal-footer></modal-footer>

        </modal>

        <modal #downloadModal title="Download PDF"
               cancelButtonLabel="cancel"
               submitButtonLabel="submit"
               modalClass="modal-lg floated fnd-pdf-modal"
               [hideCloseButton]="false"
               [closeOnEscape]="true"
               [closeOnOutsideClick]="true">

            <modal-header></modal-header>

            <modal-content>
                <app-download-pdf-modal #pdfModal [blob]="blob"></app-download-pdf-modal>
            </modal-content>

            <modal-footer></modal-footer>

        </modal>
  <div class="modal fade" id="purchaseModalheader" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#000">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="purchaseModalLabel">Share resume and hide personal data - Subscription in 3.99$/month</h5>
                       
                    </div>
                    <div class="modal-body clearfix">
                        <subscriptionComp [modeStatus]="blockingInfoMode" (subscribed)="onSubscribed($event)" [modeltype]='1'></subscriptionComp>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>      
