.block-inline{
    display: inline-block;
}
form .checkbox label{
    padding-left:30px;
}
.terms-padding{
    padding-left:30px;
}
.error{
    color: #50E3C2;
    display: block;
    text-align: left;
    height: 0;
    margin: 0;
}
.border-radius{
    border:1px solid #50E3C2;
    padding:2px;
    border-radius: 2px;
}
.load-page{
    position: relative;
    right: -60%;
    top: -55px;
}
.loading-icon{
    color:#50E3C2;
    font-size:50px;
    margin:0 auto;
    top:40%;
    opacity: 1;
}
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.email-padding-top{
    padding-top: 10px;
}

.form-group.margin-bottom {
    margin-bottom: 20px;
}